<div class="container">

    <h3>Subscribe to our Newsletter</h3>

    <fieldset>
      <form name='signupForm' novalidate>

        <input type="text" name="firstname" placeholder="Your first name"
          ng-model="signupCtrl.user.firstname"
          required
          minlength="4"
          ng-maxlength="10">
          {{ signupCtrl.user.firstname }}
          <span
            ng-if="(signupForm.firstname.$error.minlength || signupForm.firstname.$error.required) && signupForm.firstname.$touched">
            firstname must be at least 4 characters long
          </span>
          <span ng-if="signupForm.firstname.$error.maxlength && signupForm.firstname.$touched">
            firstname must not be longer than 10 characters
          </span>
          <br>
		  
        <input type="text" name="lastname" placeholder="Your last name"
          ng-model="signupCtrl.user.lastname"
          required
          minlength="3"
          ng-maxlength="10">
          {{ signupCtrl.user.lastname }}
          <span
            ng-if="(signupForm.lastname.$error.minlength || signupForm.lastname.$error.required) && signupForm.lastname.$touched">
            lastname must be at least 3 characters long
          </span>
          <span ng-if="signupForm.lastname.$error.maxlength && signupForm.lastname.$touched">
            lastname must not be longer than 10 characters
          </span>
          <br>
		  
        <input type="email" name="email" placeholder="Email"
          ng-model="signupCtrl.user.email"
          required>
          {{ signupCtrl.user.email }}
          <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="signupCtrl.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
		  {{ signupCtrl.user.phone }}
          <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>
		  
        <input type="text" name="favdish" placeholder="Your fav dish"
          ng-model="signupCtrl.user.favdish"
          required>
          {{ signupCtrl.user.favdish }}
          <span
            ng-if="(signupForm.favdish.$error.required) && signupForm.favdish.$touched">
            favdish must be specified
          </span>
          <br>
		  
        <button
          ng-disabled="signupForm.$invalid"
          ng-click="signupCtrl.submit(signupCtrl.user.favdish)">Submit</button>

          <div style="margin-top: 10px;">
            Form valid? {{ signupForm.$valid }}
          </div>
      </form>
    </fieldset>

    <div id="info" ng-if="signupCtrl.completed">
      <!-- firstname: {{ signupCtrl.user.firstname}} <br>    -->
      <!-- lastname: {{ signupCtrl.user.lastname}} <br>      -->
      <!-- Email: {{ signupCtrl.user.email}} <br>            -->
      <!-- Phone: {{ signupCtrl.user.phone }}                -->
	  <!-- favorate dish: {{ signupCtrl.user.favdish }}      -->
      <span> {{ signupCtrl.message }}</span>
    </div>
</div>
